<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">
<link rel="shortcut icon" href="/assets/ico/logo/logo_ico.ico" type="image/x-icon">
<title>SG-SST :: Integral de riesgos asesores</title>
