<div id="modal_registroUsuSesion" class="form_login">
    <div class="menu_sesion">
        <div class="layout_vertical">
            <div class="tittle_sesion">
                <h3>REGISTRO DE USUARIO</h3>
            </div>
            <ul class="layout_horizontal">
                <li>
                    <div class="btn_ir_registrate">
                        <img src="/assets/ico/resources/icono_registrarUsuario.png" alt="" srcset="" onclick="mostar_modal(document.getElementById('modal_registroUsuSesion'),
                            document.getElementById('modal_inicioSesion'))">
                    </div>
                </li>
                <li>
                    <div class="btn_salir">
                        <img src="/assets/ico/resources/icono_salir.png" alt="" srcset="" onclick="salir_login()">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="logo"></div>
    <div id="slogan"></div>
    <form>
        <label for="UsuarioRegistrer">Ususario</label>
        <input type="text" id="UsuarioRegistrer" name="UsuarioRegistrer" value="">
        <label for="pswRegistrer">Contraseña</label>
        <input type="password" name="pswRegistrer" id="pswRegistrer">
        <input type="button" value="Continuar" onclick="">
        <div class="line"></div>
    </form>
</div>